body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}

.segment1 {
    padding-left: 750px;
    padding-right: 450px;
    background-color: #1F2937;
    padding-bottom: 200px;
}

.nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    text-justify: center;
    align-content: center;
    gap: 475px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8
}

.h-links {
    margin-top: 20px;
}


.link-1, .link-2, .link-3 {
    text-decoration: none;
    color: grey;
    margin-right: 20px;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 500px;
}

.intro {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;

}

.image {
    position: absolute;
    background-color: grey;
    max-width: 600px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: 550px;
    margin-top: 60px;
}

.sign-up-button {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 70px;
    height: 40px;
    text-decoration: none;
    text-decoration: bold;
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
}

.header-2 {
    text-align: center;
    color: black;
    padding-top: 40px;
}

.illustrations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-left: 0px;
    text-align: center;
}


.invis1, .invis2, .invis3, .invis4 {
    border: rgb(20, 167, 252) 4px solid;
    border-radius: 10px;
    max-width: 200px;
    height: 200px;
    color: white;
}

.ill-1, .ill-2, .ill-3, .ill-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    margin-left: 20px;
    text-align: center;
    font-size: 24px;
    color: grey;
    font-weight: 700;
    margin-top: 10px;
}

.sub-1, .sub-2, .sub-3, .sub-4 {
    font-size: 18px;
    color: #1f2937;
    margin-top: 10px;
}

.segment3 {
    background-color: #E5E7EB;
    padding-top: 150px;
    padding-bottom: 150px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    max-width: 1000px;
    text-align: start;
    margin-left: 780px;
}

.citation {
    color: black;
    margin-left: 1490px;
}

.segment4 {
    display: flex;
    border: #3882F6 4px solid;
    background-color: #3882F6;
    border-radius: 10px;
    max-height: 200px;
    max-width: 1000px;
    margin-left: 680px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;
    padding-right: 70px;
    text-justify: center;
}

.footertext {
    margin-left: 20px;
}

.norm {
    font-size: 14px;
    color: lightgrey;
}

.footer-button {
    display: flex;
    color: white;
    border: white 2px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 25px;
    margin-left: 400px;
    text-decoration: none;
}